<div appDir1>這邊喔</div>
<button (click)="toggleTemplate()">Toggle Template</button>
<button (click)="toggleShow()">Toggle Show</button>
<button (click)="createTemplate()">create Template</button>
<button (click)="destroyTemplate()">destroy Template</button>
{{ isTemplateVisible ? "Template is visible" : "Template is not visible" }}
<div *ngIf="isTemplateVisible" >
</div>
<div #container>hello</div>
<p>what ever</p>
<ng-template #dynamicTemplate>
  <p>This is a dynamically rendered template content.</p>
</ng-template>
<ng-template #dynamicTemplateElse>
  <p>Else.Else.Else.Else.</p>
</ng-template>


<!--<div *appMyNgIf="isShow">myNgIf</div>-->

<div *appMyNgIf="isShow then dynamicTemplate else dynamicTemplateElse">myNgIf</div>
<div *ngIf="isShow then dynamicTemplate else dynamicTemplateElse">myNgIf</div>

<button (click)="setName()">setName</button>{{ form.controls.name.getRawValue() }}
<!--<input type="text" [formControl]="form.controls.name">-->
<label>
  年紀
  <input type="text" appUsernameValidator [formControl]="form.controls.age">
</label>{{ form.controls.age.errors | json }}
<button (click)="setParam()">setParam</button>
<app-my-input [formControl]="form.controls.name" [validParam]="validParam1"></app-my-input>
{{ form.errors | json }}{{ form.controls.name.errors | json }}
<app-username-input [formControl]="form.controls.username"></app-username-input>
{{ form.controls.username.errors | json }}
